form {

  input[type=text], input[type=email],  textarea {
    @include sans(18px);
    display: block;
    width: 100%;
    background: none;
    border: none;
    border-bottom: 2px solid $text;
    padding: 10px 0;
    margin: 0 0 25px 0;
    outline: none;

    &.error { border-color: $highlight; }
  }

  textarea {
    height: 200px;
    resize: vertical;
  }

  input[type=submit] {
    @include sans(18px);
    @include button($text);
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
  }

  span.success {
    margin: 0 0 0 25px;
    color: $highlight;

    @include media(500px) {
      display: block;
      font-size: 14px;
      margin: 15px 0 0 0;
    }
  }
}
