ul#feed {
  margin: 50px 0 0 0;

  li {
    margin: 0 0 50px 0;
  }

  p {
    line-height: 26px;
    margin: 0 0 10px 0;
  }

  img {
    width: 100%;
  }

  span {
    text-transform: none;
    font-size: 14px;
  }
}
