.title {
  @include clearfix;

  h2 {
    @include float-left;
    @include serif-bold(24px);
  }

  .meta {
    @include float-right;
    margin: 5px 0 0 0;
  }

  h3, h4 {
    display: inline-block;
    margin: 0 0 0 10px;
  }

  h3 {
    @include serif-bold(14px);
  }

  h4 {
    font-size: 10px;

    span {
      @include sans-bold(14px);
    }
  }
}

.info {
  @include clearfix;
  margin: 15px 0 0 0;
  padding: 45px 0 0 0;
  border-top: 1px solid $text;
}

blockquote, p {
  @include float-left;
  width: 45%;
  margin-right: 5%;
}

blockquote {
  @include serif-bold(23px);
  letter-spacing: 1px;
}

p {
  @include serif(16px);
  line-height: 26px;
}
