header {
  @include pie-clearfix;
  background: rgba($background, 0.3);
  text-align: center;
  padding: 17px 0;
  box-sizing: border-box;
  height: $header-height;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  z-index: 3;

  @include media($break-point) {
    height: $header-mobile-height;
  }

  h1 {
    width: sprite-width(logo);
    margin: 0 auto;

    a {
      @include sprite-background(logo);
      @include retina-background(logo);
      margin: 14px 0 0 0;
    }

    @include media($break-point) {
      @include float-right;
      width: sprite-width(logo-small);

      a {
        @include sprite-background(logo-small);
        margin: 2px 0 0 0;
      }
    }
  }

  nav {
    @include float-left;
    width: sprite-width(menu);
    height: sprite-height(menu);
    text-align: left;

    span {
      @include sprite-background(menu);
      @include retina-background(menu);
      cursor: pointer;
      position: absolute;
      padding: 0 36px 36px 0;
    }

    ul {
      @include _transition(opacity);
      position: absolute;
      z-index: 3;
      top: 90px;
      padding: 15px 60px 15px 40px;
      background: rgba($background, 0.5);
      opacity: 0;
      visibility: hidden;
    }

    span:hover + ul, ul:hover { visibility: visible; opacity: 1; }

    li {
      @include serif-bold(16px);
      margin: 0 0 15px 0;

      &:last-of-type { margin: 0; }
    }
  }

  ul#social {
    @include float-right;
    @include clearfix;

    li {
      @include float-left;
      margin: 0 10px 0 0;

      &:last-of-type { margin: 0; }
    }

    #twitter {
      @include retina-background(twitter);
      @include sprite-background(twitter);
    }

    #facebook {
      @include retina-background(facebook);
      @include sprite-background(facebook);
    }
    #instagram {
      @include retina-background(instagram);
      @include sprite-background(instagram);
    }

    @include media($break-point) {
      display: none;
    }
  }

  nav, ul#social {
    margin: 7px 0 0 0;

    @include media($break-point) {
      margin: 0;
    }
  }
}

#content {
  margin: $header-height 0 0 0;
  position: relative;
  @include media($break-point) {
    margin: $header-mobile-height 0 0 0;
  }
}

footer {
  @include clearfix;
  margin: $big-space 0 0 0;
  padding: 25px 0;
  border-top: 1px solid $text;
  position: relative;

  .address {
    @include float-left;
    margin: 0 50px 0 0;

    &:last-of-type { margin: 0; }

    h3 {
      margin: 0 0 10px 0;
      padding: 0 0 10px 0;

      &::first-letter { border-bottom: 1px solid $secondary; padding: 0 0 10px 0; }
    }

    @include media($break-point) {
      @include cancel-float;
      margin-bottom: 25px;

      &:last-of-type { margin-bottom: 25px; }
    }
  }

  h4 {
    font-size: 10px;
    line-height: 16px;
    color: $secondary;

    a {
      color: $secondary;

      &:hover { color: $text; text-shadow: none; }
    }
  }

  h1 {
    @include float-right;

    a {
      @include sprite-background(icon);
      @include retina-background(icon);
    }

    @include media($break-point) {
      @include cancel-float;
    }
  }
}

