header {
  @include clearfix;
  text-align: center;
  padding: 17px 0;

  h1 {
    @include sprite-background(logo);
    display: inline-block;
    margin: 14px 0 0 0;
  }

  nav {
    @include float-left;
    text-align: left;
    margin: 20px 0 0 0;

    span {
      @include sprite-background(menu);
      cursor: pointer;
      position: absolute;
      padding: 0 36px 36px 0;
    }

    ul {
      @include _transition(opacity);
      position: absolute;
      z-index: 3;
      top: 90px;
      padding: 15px 60px 15px 40px;
      background: rgba($background, 0.5);
      opacity: 0;
      visibility: hidden;
    }

    span:hover + ul, ul:hover { visibility: visible; opacity: 1; }

    li {
      margin: 0 0 15px 0;

      &:last-of-type { margin: 0; }
    }
  }

  ul#social {
    @include float-right;
    @include clearfix;
    margin: 19px 0 0 0;

    li {
      @include float-left;
      margin: 0 10px 0 0;

      &:last-of-type { margin: 0; }
    }

    #twitter { @include sprite-background(twitter); }
    #facebook { @include sprite-background(facebook); }
    #instagram { @include sprite-background(instagram); }
  }
}
