#slideshow {
  position: relative;

  img {
    display: none;

    &.active { display: block; }
  }

  nav {
    @include centered(auto);
    font-size: 28px;
  }

  ul {
    display: inline-block;
    text-align: center;
  }

  li {
    margin: 0 0 35px 0;
  }

  a {
    @include text-shadow(lighten($background, 20%) 1px 1px 0);
    letter-spacing: 2px;

    &:hover, &.active {
      @include text-shadow(lighten($background, 20%) 1px 1px 0);
      border-bottom: 2px solid $text;
    }
  }
}
