#slideshow {
  position: relative;

  #overlay {
    position: absolute;
    top: 0; left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba($background, 0.3);
  }

  img {
    display: none;

    &.active { display: block; }
  }

  nav {
    @include centered(auto);
    @include serif-bold(28px);
    z-index: 3;
  }

  ul {
    display: inline-block;
    text-align: center;
  }

  li {
    margin: 0 0 25px 0;
  }

  a {
    letter-spacing: 2px;
    white-space: nowrap;

    &:hover, &.active {
      border-bottom: 2px solid $text;
    }
  }
}
