#slideshow {
  position: relative;

  #overlay {
    position: absolute;
    top: 0; left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba($background, 0.3);
  }

  img {
    @include translateX(-50%);
    display: none;
    position: relative;
    left: 50%;
     -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0, M21=0, M22=1, SizingMethod='auto expand')";
     z-index: 1;

    &.active { display: block; }
  }

  nav {
    @include centered(auto);
    @include serif-bold(28px);
    z-index: 3;
    max-width: $columns-width;
  }

  ul {
    display: inline-block;
    text-align: center;

    @include media($nav-break-point) {
      display: block;
    }

    &.columns {

      li {
        display: inline-block;
        width: 50%;

        @include media($columns-width) {
          display: block;
          width: auto;
        }
      }
    }
  }

  li {
    margin: 0 0 25px 0;
  }

  a {
    letter-spacing: 2px;
    white-space: nowrap;

    @include media($nav-break-point) {
      font-size: 24px;
    }

    &:hover, &.active {
      border-bottom: 2px solid $text;
    }
  }
}
