.vjs-big-play-button { display: none !important; }
.vjs-fullscreen { padding-top: 0px; }

.video-js {
  background-color: transparent !important;
  vertical-align: top !important;
  width: 100%;
  height: 100%;
  @include media($break-point) {
    min-height: 150px;
  }

  object.vjs-tech {
    position: relative !important;
    min-height: 570px;
  }
}
