@mixin button($border: $background) {
  @include _transition(all);
  $padding: 10px;
  border: 2px solid $border;
  padding: $padding;
  background: transparent;

  &:hover, &.active {
    background: $highlight;
    border-color: $highlight;
    color: $background;
  }
}
