@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

@mixin _transition($attribute) {
  @include single-transition($attribute, 0.2s, ease-in-out);
}

@mixin cancel-float {
  float: none;
  display: block;
}

@mixin media($width) {
  @media all and (max-width: $width) { @content; }
}

@mixin centered($height) {
  top:0; bottom:0; left:0; right: 0;
  margin: auto;
  position: absolute;
  height: $height;
}
