- favicon = '/favicon.png'
- icon = image_url('map/icon.png')
meta name='apple-mobile-web-app-capable' content='yes'
meta name='apple-mobile-web-app-status-bar-style' content='black'
meta name='viewport' content='initial-scale=1.0, maximum-scale=1.0, user-scalable=no'
link rel="apple-touch-icon-precomposed" sizes="144x144" href=icon
link rel="apple-touch-icon-precomposed" sizes="114x114" href=icon
link rel="apple-touch-icon-precomposed" sizes="72x72" href=icon
link rel="apple-touch-icon-precomposed" href=icon
link rel="shortcut icon" href=favicon
link rel='image_src' href="#{icon}"
meta property='og:image' content="#{icon}"  name='thumb'
