- favicon = '/favicon.png'
- logo = image_url('logo-for-sharing.png')
meta name='apple-mobile-web-app-capable' content='yes'
meta name='apple-mobile-web-app-status-bar-style' content='black'
meta name='viewport' content='initial-scale=1.0, maximum-scale=1.0, user-scalable=no'
link rel="apple-touch-icon-precomposed" sizes="144x144" href=favicon
link rel="apple-touch-icon-precomposed" sizes="114x114" href=favicon
link rel="apple-touch-icon-precomposed" sizes="72x72" href=favicon
link rel="apple-touch-icon-precomposed" href=favicon
link rel="shortcut icon" href=favicon
link rel='image_src' href="#{logo}"
meta property='og:image' content="#{logo}"  name='thumb'
