h3.title Lately
script type='text/javascript' src='http://assets.juicer.io/embed.js'
ul class='juicer-feed' data-feed-id='descendants' data-columns='3'

h2.juicer Powered by #{link_to 'Juicer', 'http://www.juicer.io'}
