body {
  text-transform: none;
}

header {
  @include clearfix;
  background: $text;
  padding: 25px;

  a {
    color: $background;
  }

  h1 {
    @include float-left;
    @include sans(18px);
    margin: 0;
  }

  nav {
    @include float-right;
  }
}

h2 {
  @include sans-bold(20px);
}

nav {

  ul {
    @include clearfix;
    margin: 0;

    li {
      @include float-left;
      margin: 0 15px 0 0;

      &:last-of-type { margin-right: 0; }
    }
  }
}

ul {
  margin: 25px 0;

  li {
    margin: 0 0 15px 0;
  }
}
