body {
  @include sans(18px);
  background: $background;
  color: $text;
  text-transform: uppercase;
}

a {
  @include _transition(color);
  color: $text;
  text-decoration: none;

  &.light { color: $background; }

  &:hover {
    color: $highlight;
  }
}

.container {
  $width: 940px;
  width: $width;
  margin: 0 auto;

  @include media($width) {
    width: 90%;
  }
}

h1 {
  @include sans-bold(36px);
  margin: 0;
}

h3 {
  @include sans(12px);
  letter-spacing: 1px;
}

p {
  text-transform: none;
}
