body {
  @include sans(18px);
  background: image-url('bg.jpg') no-repeat fixed $background;
  background-size: cover;
  color: $text;
  text-transform: uppercase;
}

a {
  @include _transition(color);
  color: $text;
  text-decoration: none;

  &.light { color: $background; }

  &:hover {
    @include text-shadow(lighten($text, 5%) 0 0 1px);
  }
}

.container {
  width: $width;
  margin: 0 auto;

  @include media($width) {
    width: 90%;
  }
}

h1 {
  @include sans-bold(36px);
  margin: 0;
}

h2.title {
  @include serif-bold(24px);
}

.title {
  padding: 0 0 15px 0;
  margin: 0 0 45px 0;
  border-bottom: 1px solid $text;
}

h3 {
  @include sans(12px);
  letter-spacing: 1px;
}

p {
  text-transform: none;
}

em { text-decoration: underline; }
