section#hero {
  max-height: 40rem;
  overflow: hidden;
  position: relative;
  margin: 0 0 $spacing 0;

  img {
    max-width: 100%;
  }

  .hero-title {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 90px;
    width: 100%;
    text-align: center;
    color: $text;
    letter-spacing: 5px;


    h1 {
      @include sans-bold(72px);
      margin: 0;

      @include media(600px) {
        @include sans-bold(48px);
      }

      @include media(400px) {
        @include sans-bold(32px);
      }
    }

    h2 {
     @include sans-bold(36px);
    }

    h1, h2 {
      text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    }
  }

  &:hover .hero-title {
    h1, h2 {
      text-shadow: 1px 1px 1px rgba(0,0,0,0.2), 0px 0px 15px rgba(255, 255, 190, .75);
    }
  }
}
